@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    background-image: url('./imgs/background2.jpg');
    background-size: 100%;
    font-family: 'Roboto Mono', monospace;
}

.formulario{    
    text-align: center;
    /* justify-content: space-around; */
    border: 3px solid rgb(4, 114, 151);    
    margin: 200px 700px 0 700px;
    padding: 40px 0 40px 0;
    border-radius: 10px; 
    /* color:rgb(4, 114, 151);    */
}
